In [1]:
import pandas as pd
import numpy as np

In [4]:
RANDOM_STATE = 42
shipping = pd.read_csv('Data/shipping.csv')

In [5]:
shipping.head()

,id,type,parent,name,dob,age,place_of_birth,home_address,f,name_of_ship,ship_port,date_leaving,joined_ship_date,joined_at_port,capacity,date_left,left_port,cause_of_leaving,sign_with_mark,notes
0,vtls004589021_0_13,sailor,vtls004589021,william cunningham,blk,19,liverpool,blk,blk,adroit,aberystwyth,1873-12,1874-01-01,blk,ordinary seaman,1874-03-19,newcastle,discharged,n,blk
1,vtls004589021_0_14,sailor,vtls004589021,evan griffiths,blk,21,portmadoc,blk,blk,jane owens,porthmadoc,1874-04,1874-05-15,porthmadoc,able seaman,blk,blk,remains on board,n,remains on board
2,vtls004589021_0_12,sailor,vtls004589021,henry evans,blk,27,aberystwyth,blk,blk,adroit,aberystwyth,1873-12,1874-01-01,blk,bosun,blk,blk,remains on board,n,remains on board
3,vtls004589069_0_14,sailor,vtls004589069,david evans,blk,16,aberaeron,blk,blk,adroit,aberystwyth,remains,1876-01-01,maryport,ordinary seaman,blk,blk,remains on board,n,remains on board
4,vtls004589021_1_13,sailor,vtls004589021,richard jones,blk,20,aberystwyth,blk,blk,adroit,aberystwyth,1874-06,1874-07-01,blk,ordinary seaman,blk,blk,remains on board,n,remains on board